.App {
  min-height: 100vh;
  background: #515050; 
  background-blend-mode: multiply,multiply; 
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 3px;
}

.search-button {
  background: #2DB8C1;
  border : none;
  padding: 10px 20px;
  color : white;
}